In [313]:
import pandas as pd
import os
import numpy as np

In [370]:
fy18=pd.read_csv("/Users/snigd/Desktop/Dropbox/UIC Data Project/Working/fy18 eoy data chicago.csv", encoding = 'utf8')
fy19=pd.read_csv("/Users/snigd/Desktop/Dropbox/UIC Data Project/Working/Chicagofy19eoyrawdata with descriptions.csv", encoding ='utf8')

In [371]:
students18=fy18[['School_FullName', 'Teacher', 'Coach', 'GradeLevel_FullName','Student' ]]
students19=fy19[['School_FullName', 'Teacher', 'Coach', 'GradeLevel_FullName','Student' ]]

In [372]:
students18.rename({'School_FullName':'SchoolName', 'Teacher': 'TeacherName', 'Coach':'CoachName'}, axis='columns', inplace = True)
students19.rename({'School_FullName':'SchoolName', 'Teacher': 'TeacherName', 'Coach':'CoachName'}, axis='columns', inplace = True)

In [373]:
coachtable=pd.read_csv("coach_table.csv")
coachtable=coachtable.drop(['_merge'],axis=1)

In [374]:
coachtable.head(5)

,SchoolName,sch_id,TeacherName,tch_id,CoachName,coach_id
0,Shoesmith,sc142,"Hobson, Ashley",tc1074,"Randruut, Avo",c106
1,Cleveland,sc105,"Wren, Amanda",tc1208,"McManus, Lisa",c104
2,Rachel Carson Elementary,sc141,"Rodriguez, Maria",tc1157,"Menke, Becca",c105
3,Cleveland,sc105,"Rivera, Maricela",tc1151,"McManus, Lisa",c104
4,Rachel Carson Elementary,sc141,"Hurtado, Martha",tc1077,"Menke, Becca",c105

In [375]:
fy18id=pd.merge(students18,coachtable, on=['SchoolName', 'TeacherName','CoachName'], how='left', indicator=True)

In [376]:
fy18id.groupby('_merge')['TeacherName'].nunique()

_merge
left_only       0
right_only      0
both          149
Name: TeacherName, dtype: int64

In [377]:
fy18id.drop_duplicates(subset=['sch_id','GradeLevel_FullName','Student'],keep='first', inplace=True)

In [378]:
fy18id.groupby(['SchoolName','GradeLevel_FullName'])['Student'].count().agg('sum')

3582

In [379]:
fy18id['Student'].isnull().sum()

3

In [380]:
fy18id['Student'].replace('', np.nan, inplace=True)
fy18id.dropna(subset=['Student'], inplace=True)

In [381]:
fy18id[fy18id.duplicated(['SchoolName','GradeLevel_FullName','Student'], keep=False)].sort_values(['SchoolName','Student'])

Empty DataFrame
Columns: [SchoolName, TeacherName, CoachName, GradeLevel_FullName, Student, sch_id, tch_id, coach_id, _merge]
Index: []

__FY19 dataset has few school, teacher and coach names missing thus we would have to merge with indivdual tables to get all the respective ids correct.__

In [382]:
schoolTable=pd.read_csv("school_table.csv")

In [383]:
fy19id=pd.merge(students19,schoolTable, on=['SchoolName'], how='left', indicator=True)

In [384]:
fy19id.groupby('_merge')['SchoolName'].nunique()

_merge
left_only      0
right_only     0
both          43
Name: SchoolName, dtype: int64

In [385]:
fy19id['Student'].isnull().sum()

14

In [386]:
fy19id.dropna(subset=['Student'], inplace=True)

In [387]:
fy19id=fy19id.drop(['_merge'], axis=1)

In [388]:
fy19id.drop_duplicates(subset=['sch_id','GradeLevel_FullName','Student'],keep='first', inplace=True)

In [390]:
fy18id=fy18id.drop(['_merge'],axis=1)

In [391]:
fy19id[fy19id.duplicated(['SchoolName','GradeLevel_FullName','Student'], keep=False)].sort_values(['SchoolName','Student'])

Empty DataFrame
Columns: [SchoolName, TeacherName, CoachName, GradeLevel_FullName, Student, sch_id]
Index: []

In [392]:
fy18id['GradeLevel_FullName'].value_counts()

Kindergarten    1933
First Grade     1649
Name: GradeLevel_FullName, dtype: int64

In [393]:
fy19id['GradeLevel_FullName'].value_counts()

Kindergarten    1726
First Grade     1463
Name: GradeLevel_FullName, dtype: int64

In [394]:
fy18k=fy18id[fy18id['GradeLevel_FullName']=='Kindergarten']

In [395]:
fy19f=fy19id[fy19id['GradeLevel_FullName']=='First Grade']

In [396]:
fy1819kf=pd.merge(fy18k[['SchoolName','sch_id','Student','GradeLevel_FullName']],fy19f[['SchoolName','sch_id','Student','GradeLevel_FullName']],
                  on=['SchoolName','sch_id','Student'],how='outer', indicator=True)

In [397]:
fy1819kf.rename({'GradeLevel_FullName_x':'GradeLevel_FullName_18', 'GradeLevel_FullName_y':'GradeLevel_FullName_19'}, axis='columns', inplace=True)

In [402]:
fy1819kf.groupby('_merge')['Student'].count()

_merge
left_only      894
right_only     424
both          1039
Name: Student, dtype: int64

In [403]:
fy1819kf[fy1819kf.duplicated(['SchoolName','Student'],keep=False)].sort_values(['Student'])

Empty DataFrame
Columns: [SchoolName, sch_id, Student, GradeLevel_FullName_18, GradeLevel_FullName_19, _merge]
Index: []

In [404]:
fy1819kf['student_id'] = (fy1819kf.groupby(['SchoolName','Student']).cumcount()==0).astype(int)
fy1819kf['student_id'] = fy1819kf['student_id'].cumsum()

In [414]:
fy1819kf['student_id'].max()

2357

In [406]:
fy18f=fy18id[['SchoolName','sch_id','Student','GradeLevel_FullName']][fy18id['GradeLevel_FullName']=='First Grade']

In [407]:
fy18f.rename({'GradeLevel_FullName':'GradeLevel_FullName_18'}, axis='columns', inplace=True)

In [422]:
fy18f['student_id'] = (fy18f.groupby(['SchoolName','Student']).cumcount()==0).astype(int)

In [429]:
fy18f.iat[0,4]=2358
fy18f
fy18f['student_id'] = fy18f['student_id'].cumsum()
fy18f['student_id'].max()

4007

In [430]:
fy18f[fy18f.duplicated(['student_id'],keep=False)].sort_values(['student_id'])

Empty DataFrame
Columns: [SchoolName, sch_id, Student, GradeLevel_FullName_18, student_id]
Index: []

In [431]:
fy19k=fy19id[['SchoolName','sch_id','Student','GradeLevel_FullName']][fy19id['GradeLevel_FullName']=='Kindergarten']

In [432]:
fy19k.rename({'GradeLevel_FullName':'GradeLevel_FullName_19'}, axis='columns', inplace=True)

In [434]:
fy19k['student_id'] = (fy19k.groupby(['SchoolName','Student']).cumcount()==0).astype(int)

In [435]:
fy19k.iat[0,4]=4008
fy19k
fy19k['student_id'] = fy19k['student_id'].cumsum()
fy19k['student_id'].max()

5733

In [437]:
allfy1819=fy1819kf.append(fy18f)

In [438]:
allfy1819=allfy1819.append(fy19k)

In [439]:
allfy1819[allfy1819.duplicated(['student_id'],keep=False)].sort_values(['student_id'])

Empty DataFrame
Columns: [GradeLevel_FullName_18, GradeLevel_FullName_19, SchoolName, Student, _merge, sch_id, student_id]
Index: []

In [441]:
allfy1819['Student'].isnull().sum()

1

In [442]:
allfy1819.dropna(subset=['Student'], inplace=True)

In [445]:
allfy1819.fillna('',inplace=True)
allfy1819

,GradeLevel_FullName_18,GradeLevel_FullName_19,SchoolName,Student,_merge,sch_id,student_id
0,Kindergarten,,Shoesmith,"Buchanan, Ma'kayla Eternity",left_only,sc142,1
1,Kindergarten,,Shoesmith,"Howard, Jamayle Christopher",left_only,sc142,2
2,Kindergarten,,Shoesmith,"Douse, A'Niyah Marie",left_only,sc142,3
3,Kindergarten,,Shoesmith,"Peters, Kameron Demil",left_only,sc142,4
4,Kindergarten,,Shoesmith,"Hamilton, Madison Brielle",left_only,sc142,5
5,Kindergarten,,Shoesmith,"Hervey, Amar'e Felan",left_only,sc142,6
6,Kindergarten,,Shoesmith,"Coles, Journie",left_only,sc142,7
7,Kindergarten,,Shoesmith,"Marshall, Mason",left_only,sc142,8
8,Kindergarten,,Shoesmith,"KYEI, NASIR",left_only,sc142,9
9,Kindergarten,,Shoesmith,"Webb-Arrieta, Kyrie B",left_only,sc142,10
10,Kindergarten,,Shoesmith,"Harper, Anthony J",left_only,sc142,11
11,Kindergarten,,Shoesmith,"Hethington, Leelah Riyan",left_only,sc142,12
12,Kindergarten,,Shoesmith,"Burbon, Amari Emiliano",left_only,sc142,13
13,Kindergarten,,Shoesmith,"Hood, Nyla Regina",left_only,sc142,14
14,Kindergarten,,Shoesmith,"Bruce, Latasha",left_only,sc142,15
15,Kindergarten,,Shoesmith,"BARNES, k'MICHELLE",left_only,sc142,16
16,Kindergarten,,Shoesmith,"Spencer, Akira Haylee",left_only,sc142,17
17,Kindergarten,,Shoesmith,"Abrams, Trinity",left_only,sc142,18
18,Kindergarten,,Shoesmith,"Wilson, Kinsley",left_only,sc142,19
19,Kindergarten,,Shoesmith,"Burkett, Jaray",left_only,sc142,20
20,Kindergarten,,Shoesmith,"Williams, Vina-Marie",left_only,sc142,21
21,Kindergarten,,Shoesmith,"Curry II, Terrill YC",left_only,sc142,22
22,Kindergarten,,Shoesmith,"Hamilton, Baisedon",left_only,sc142,23
23,Kindergarten,,Shoesmith,"London, Omari Malone",left_only,sc142,24
24,Kindergarten,,Shoesmith,"Love-Sanders, Joy",left_only,sc142,25
25,Kindergarten,,Shoesmith,"Miller, Essiah Love",left_only,sc142,26
26,Kindergarten,,Shoesmith,"Enoch, Desiree Marie",left_only,sc142,27
27,Kindergarten,,Shoesmith,"Garcia, Jorge Alberto",left_only,sc142,28
28,Kindergarten,,Shoesmith,"Johnson, Jason Lamont",left_only,sc142,29
29,Kindergarten,,Shoesmith,"Reese, Nasir Rakim",left_only,sc142,30
...,...,...,...,...,...,...,...
10717,,Kindergarten,George Manierre Elementary School,"Abston, Cory",,sc114,5704
10722,,Kindergarten,George Manierre Elementary School,"cates, daryl",,sc114,5705
10727,,Kindergarten,George Manierre Elementary School,"Chaffin, Dasia",,sc114,5706
10732,,Kindergarten,George Manierre Elementary School,"Chambers, Tiera",,sc114,5707
10737,,Kindergarten,George Manierre Elementary School,"Covington, Tony Antwon",,sc114,5708
10742,,Kindergarten,George Manierre Elementary School,"Davenport, Damaurion",,sc114,5709
10747,,Kindergarten,George Manierre Elementary School,"Delaney, Kamora",,sc114,5710
10752,,Kindergarten,George Manierre Elementary School,"Donaldson, Amir",,sc114,5711
10757,,Kindergarten,George Manierre Elementary School,"Green, Layla",,sc114,5712
10762,,Kindergarten,George Manierre Elementary School,"Guy, Semaj",,sc114,5713
10767,,Kindergarten,George Manierre Elementary School,"Herron, Ja'niya Alicia",,sc114,5714
10772,,Kindergarten,George Manierre Elementary School,"Johnson, Kalayni",,sc114,5715
10777,,Kindergarten,George Manierre Elementary School,"Jones, Messiah Ramon",,sc114,5716
10782,,Kindergarten,George Manierre Elementary School,"Lofton, Jaylen",,sc114,5717
10787,,Kindergarten,George Manierre Elementary School,"McClain, Daniel James",,sc114,5718
10792,,Kindergarten,George Manierre Elementary School,"montgomery, Timya",,sc114,5719
10797,,Kindergarten,George Manierre Elementary School,"Moss, Damarion Lamar",,sc114,5720
10802,,Kindergarten,George Manierre Elementary School,"Qualls, Joshua",,sc114,5721
10807,,Kindergarten,George Manierre Elementary School,"Scott, Olivia",,sc114,5722
10812,,Kindergarten,George Manierre Elementary School,"Sims, A'mari",,sc114,5723
10817,,Kindergarten,George Manierre Elementary School,"Smith, Nacurvie Kylvin",,sc114,5724
10822,,Kindergarten,George Manierre Elementary School,"Strong, Janyla",,sc114,5725
10827,,Kindergarten,George Manierre Elementary School,"sutton, zyere",,sc114,5726
10832,,Kindergarten,George Manierre Elementary School,"Vanpelt, Kimari A'janae",,sc114,5727
10837,,Kindergarten,George Manierre Elementary School,"Walker, Myishone",,sc114,5728
10842,,Kindergarten,George Manierre Elementary School,"Wallace, Jayden",,sc114,5729
10847,,Kindergarten,George Manierre Elementary School,"Dado, Eliana",,sc114,5730
10851,,Kindergarten,George Manierre Elementary School,"Dado, Emma",,sc114,5731
10855,,Kindergarten,George Manierre Elementary School,"Dado, Erika",,sc114,5732
10859,,Kindergarten,George Manierre Elementary School,"Foster, Trinity",,sc114,5733

In [448]:
allfy1819['initials']=np.where(allfy1819['student_id']<10, 'st000','st')
allfy1819['initials']=np.where(allfy1819['student_id']>=10, 'st00',allfy1819['initials'])
allfy1819['initials']=np.where(allfy1819['student_id']>=100, 'st0',allfy1819['initials'])
allfy1819['initials']=np.where(allfy1819['student_id']>=1000, 'st',allfy1819['initials'])
allfy1819['student_id']= allfy1819['initials'] + allfy1819.student_id.map(str)
allfy1819

,GradeLevel_FullName_18,GradeLevel_FullName_19,SchoolName,Student,_merge,sch_id,student_id,initials,tch_id
0,Kindergarten,,Shoesmith,"Buchanan, Ma'kayla Eternity",left_only,sc142,st0001,st000,st0001
1,Kindergarten,,Shoesmith,"Howard, Jamayle Christopher",left_only,sc142,st0002,st000,st0002
2,Kindergarten,,Shoesmith,"Douse, A'Niyah Marie",left_only,sc142,st0003,st000,st0003
3,Kindergarten,,Shoesmith,"Peters, Kameron Demil",left_only,sc142,st0004,st000,st0004
4,Kindergarten,,Shoesmith,"Hamilton, Madison Brielle",left_only,sc142,st0005,st000,st0005
5,Kindergarten,,Shoesmith,"Hervey, Amar'e Felan",left_only,sc142,st0006,st000,st0006
6,Kindergarten,,Shoesmith,"Coles, Journie",left_only,sc142,st0007,st000,st0007
7,Kindergarten,,Shoesmith,"Marshall, Mason",left_only,sc142,st0008,st000,st0008
8,Kindergarten,,Shoesmith,"KYEI, NASIR",left_only,sc142,st0009,st000,st0009
9,Kindergarten,,Shoesmith,"Webb-Arrieta, Kyrie B",left_only,sc142,st0010,st00,st0010
10,Kindergarten,,Shoesmith,"Harper, Anthony J",left_only,sc142,st0011,st00,st0011
11,Kindergarten,,Shoesmith,"Hethington, Leelah Riyan",left_only,sc142,st0012,st00,st0012
12,Kindergarten,,Shoesmith,"Burbon, Amari Emiliano",left_only,sc142,st0013,st00,st0013
13,Kindergarten,,Shoesmith,"Hood, Nyla Regina",left_only,sc142,st0014,st00,st0014
14,Kindergarten,,Shoesmith,"Bruce, Latasha",left_only,sc142,st0015,st00,st0015
15,Kindergarten,,Shoesmith,"BARNES, k'MICHELLE",left_only,sc142,st0016,st00,st0016
16,Kindergarten,,Shoesmith,"Spencer, Akira Haylee",left_only,sc142,st0017,st00,st0017
17,Kindergarten,,Shoesmith,"Abrams, Trinity",left_only,sc142,st0018,st00,st0018
18,Kindergarten,,Shoesmith,"Wilson, Kinsley",left_only,sc142,st0019,st00,st0019
19,Kindergarten,,Shoesmith,"Burkett, Jaray",left_only,sc142,st0020,st00,st0020
20,Kindergarten,,Shoesmith,"Williams, Vina-Marie",left_only,sc142,st0021,st00,st0021
21,Kindergarten,,Shoesmith,"Curry II, Terrill YC",left_only,sc142,st0022,st00,st0022
22,Kindergarten,,Shoesmith,"Hamilton, Baisedon",left_only,sc142,st0023,st00,st0023
23,Kindergarten,,Shoesmith,"London, Omari Malone",left_only,sc142,st0024,st00,st0024
24,Kindergarten,,Shoesmith,"Love-Sanders, Joy",left_only,sc142,st0025,st00,st0025
25,Kindergarten,,Shoesmith,"Miller, Essiah Love",left_only,sc142,st0026,st00,st0026
26,Kindergarten,,Shoesmith,"Enoch, Desiree Marie",left_only,sc142,st0027,st00,st0027
27,Kindergarten,,Shoesmith,"Garcia, Jorge Alberto",left_only,sc142,st0028,st00,st0028
28,Kindergarten,,Shoesmith,"Johnson, Jason Lamont",left_only,sc142,st0029,st00,st0029
29,Kindergarten,,Shoesmith,"Reese, Nasir Rakim",left_only,sc142,st0030,st00,st0030
...,...,...,...,...,...,...,...,...,...
10717,,Kindergarten,George Manierre Elementary School,"Abston, Cory",,sc114,st5704,st,st5704
10722,,Kindergarten,George Manierre Elementary School,"cates, daryl",,sc114,st5705,st,st5705
10727,,Kindergarten,George Manierre Elementary School,"Chaffin, Dasia",,sc114,st5706,st,st5706
10732,,Kindergarten,George Manierre Elementary School,"Chambers, Tiera",,sc114,st5707,st,st5707
10737,,Kindergarten,George Manierre Elementary School,"Covington, Tony Antwon",,sc114,st5708,st,st5708
10742,,Kindergarten,George Manierre Elementary School,"Davenport, Damaurion",,sc114,st5709,st,st5709
10747,,Kindergarten,George Manierre Elementary School,"Delaney, Kamora",,sc114,st5710,st,st5710
10752,,Kindergarten,George Manierre Elementary School,"Donaldson, Amir",,sc114,st5711,st,st5711
10757,,Kindergarten,George Manierre Elementary School,"Green, Layla",,sc114,st5712,st,st5712
10762,,Kindergarten,George Manierre Elementary School,"Guy, Semaj",,sc114,st5713,st,st5713
10767,,Kindergarten,George Manierre Elementary School,"Herron, Ja'niya Alicia",,sc114,st5714,st,st5714
10772,,Kindergarten,George Manierre Elementary School,"Johnson, Kalayni",,sc114,st5715,st,st5715
10777,,Kindergarten,George Manierre Elementary School,"Jones, Messiah Ramon",,sc114,st5716,st,st5716
10782,,Kindergarten,George Manierre Elementary School,"Lofton, Jaylen",,sc114,st5717,st,st5717
10787,,Kindergarten,George Manierre Elementary School,"McClain, Daniel James",,sc114,st5718,st,st5718
10792,,Kindergarten,George Manierre Elementary School,"montgomery, Timya",,sc114,st5719,st,st5719
10797,,Kindergarten,George Manierre Elementary School,"Moss, Damarion Lamar",,sc114,st5720,st,st5720
10802,,Kindergarten,George Manierre Elementary School,"Qualls, Joshua",,sc114,st5721,st,st5721
10807,,Kindergarten,George Manierre Elementary School,"Scott, Olivia",,sc114,st5722,st,st5722
10812,,Kindergarten,George Manierre Elementary School,"Sims, A'mari",,sc114,st5723,st,st5723
10817,,Kindergarten,George Manierre Elementary School,"Smith, Nacurvie Kylvin",,sc114,st5724,st,st5724
10822,,Kindergarten,George Manierre Elementary School,"Strong, Janyla",,sc114,st5725,st,st5725
10827,,Kindergarten,George Manierre Elementary School,"sutton, zyere",,sc114,st5726,st,st5726
10832,,Kindergarten,George Manierre Elementary School,"Vanpelt, Kimari A'janae",,sc114,st5727,st,st5727
10837,,Kindergarten,George Manierre Elementary School,"Walker, Myishone",,sc114,st5728,st,st5728
10842,,Kindergarten,George Manierre Elementary School,"Wallace, Jayden",,sc114,st5729,st,st5729
10847,,Kindergarten,George Manierre Elementary School,"Dado, Eliana",,sc114,st5730,st,st5730
10851,,Kindergarten,George Manierre Elementary School,"Dado, Emma",,sc114,st5731,st,st5731
10855,,Kindergarten,George Manierre Elementary School,"Dado, Erika",,sc114,st5732,st,st5732
10859,,Kindergarten,George Manierre Elementary School,"Foster, Trinity",,sc114,st5733,st,st5733

In [449]:
allfy1819=allfy1819.sort_values(['sch_id','student_id'])
allfy1819

,GradeLevel_FullName_18,GradeLevel_FullName_19,SchoolName,Student,_merge,sch_id,student_id,initials,tch_id
664,Kindergarten,First Grade,Alfred Nobel Elementary School,"Torres, Alessandro",both,sc101,st0665,st0,st0665
665,Kindergarten,First Grade,Alfred Nobel Elementary School,"Montero, D'Angel",both,sc101,st0666,st0,st0666
666,Kindergarten,First Grade,Alfred Nobel Elementary School,"Morales, Roberto",both,sc101,st0667,st0,st0667
667,Kindergarten,First Grade,Alfred Nobel Elementary School,"Taboada, Alexandra",both,sc101,st0668,st0,st0668
668,Kindergarten,First Grade,Alfred Nobel Elementary School,"VEGA, ZOE",both,sc101,st0669,st0,st0669
669,Kindergarten,First Grade,Alfred Nobel Elementary School,"Helm, Ethan Tramaine",both,sc101,st0670,st0,st0670
670,Kindergarten,First Grade,Alfred Nobel Elementary School,"Farmby, Byron Lanard",both,sc101,st0671,st0,st0671
671,Kindergarten,,Alfred Nobel Elementary School,"Shields, Donniesha Ray",left_only,sc101,st0672,st0,st0672
672,Kindergarten,,Alfred Nobel Elementary School,"Cazares, Joseph",left_only,sc101,st0673,st0,st0673
673,Kindergarten,First Grade,Alfred Nobel Elementary School,"DelosSantos, Eduardo Martin",both,sc101,st0674,st0,st0674
674,Kindergarten,,Alfred Nobel Elementary School,"Escobar, Liam",left_only,sc101,st0675,st0,st0675
675,Kindergarten,,Alfred Nobel Elementary School,"Garcia, Jacqueline",left_only,sc101,st0676,st0,st0676
676,Kindergarten,First Grade,Alfred Nobel Elementary School,"Casiano, Rami",both,sc101,st0677,st0,st0677
677,Kindergarten,First Grade,Alfred Nobel Elementary School,"Torres Cruz, Genesis Alinne",both,sc101,st0678,st0,st0678
678,Kindergarten,First Grade,Alfred Nobel Elementary School,"Murray, Jaliyah Kendall",both,sc101,st0679,st0,st0679
679,Kindergarten,First Grade,Alfred Nobel Elementary School,"Ramirez, Eduardo",both,sc101,st0680,st0,st0680
680,Kindergarten,First Grade,Alfred Nobel Elementary School,"Tinoco, Monica",both,sc101,st0681,st0,st0681
681,Kindergarten,First Grade,Alfred Nobel Elementary School,"Ramos, Sofia Melanie",both,sc101,st0682,st0,st0682
682,Kindergarten,First Grade,Alfred Nobel Elementary School,"Rosas, America",both,sc101,st0683,st0,st0683
683,Kindergarten,,Alfred Nobel Elementary School,"Rodriguez, Gabriel Alejandro",left_only,sc101,st0684,st0,st0684
684,Kindergarten,First Grade,Alfred Nobel Elementary School,"Perez, Analisa Maria",both,sc101,st0685,st0,st0685
685,Kindergarten,First Grade,Alfred Nobel Elementary School,"Torres, Jaylianie",both,sc101,st0686,st0,st0686
686,Kindergarten,First Grade,Alfred Nobel Elementary School,"Lopez, Bryan",both,sc101,st0687,st0,st0687
687,Kindergarten,First Grade,Alfred Nobel Elementary School,"Garcia, Stephanie",both,sc101,st0688,st0,st0688
688,Kindergarten,,Alfred Nobel Elementary School,"Garcia, Angel",left_only,sc101,st0689,st0,st0689
689,Kindergarten,First Grade,Alfred Nobel Elementary School,"Batalla, Ivan",both,sc101,st0690,st0,st0690
690,Kindergarten,,Alfred Nobel Elementary School,"Estremera, Kendall",left_only,sc101,st0691,st0,st0691
691,Kindergarten,First Grade,Alfred Nobel Elementary School,"Estrada, Geovanny",both,sc101,st0692,st0,st0692
692,Kindergarten,First Grade,Alfred Nobel Elementary School,"Hernandez, Miriam",both,sc101,st0693,st0,st0693
693,Kindergarten,First Grade,Alfred Nobel Elementary School,"Sanchez, Alizzon",both,sc101,st0694,st0,st0694
...,...,...,...,...,...,...,...,...,...
7134,First Grade,,Woodson South Elementary School,"Thompson, Mason",,sc151,st3312,st,st3312
7138,First Grade,,Woodson South Elementary School,"Sawyer, Arianna",,sc151,st3313,st,st3313
7142,First Grade,,Woodson South Elementary School,"Murphy, Zechariah",,sc151,st3314,st,st3314
7145,First Grade,,Woodson South Elementary School,"JOHNSON, DERWYN",,sc151,st3315,st,st3315
7148,First Grade,,Woodson South Elementary School,"Carter, Jaysean Steven Makell",,sc151,st3316,st,st3316
7151,First Grade,,Woodson South Elementary School,"Short, Trebion",,sc151,st3317,st,st3317
10085,First Grade,,Woodson South Elementary School,"Rocquemore, Kamya",,sc151,st3869,st,st3869
10089,First Grade,,Woodson South Elementary School,"Simpson, Janaliyah D.",,sc151,st3870,st,st3870
10093,First Grade,,Woodson South Elementary School,"Mosely, Casiey",,sc151,st3871,st,st3871
10097,First Grade,,Woodson South Elementary School,"Gaddy, Darmarion",,sc151,st3872,st,st3872
3804,,Kindergarten,Woodson South Elementary School,"Allen, Mason Amir",,sc151,st4641,st,st4641
3808,,Kindergarten,Woodson South Elementary School,"Brazzle, Christian A",,sc151,st4642,st,st4642
3812,,Kindergarten,Woodson South Elementary School,"Brown, Isaiah",,sc151,st4643,st,st4643
3816,,Kindergarten,Woodson South Elementary School,"Candler-Harris, Ja'Kyia",,sc151,st4644,st,st4644
3820,,Kindergarten,Woodson South Elementary School,"Dora, Aria",,sc151,st4645,st,st4645
3824,,Kindergarten,Woodson South Elementary School,"Evans, Aubrey",,sc151,st4646,st,st4646
3828,,Kindergarten,Woodson South Elementary School,"Frank, Unique",,sc151,st4647,st,st4647
3832,,Kindergarten,Woodson South Elementary School,"Garrett, Isaiah",,sc151,st4648,st,st4648
3836,,Kindergarten,Woodson South Elementary School,"Gibbons, Josiah Robert",,sc151,st4649,st,st4649
3840,,Kindergarten,Woodson South Elementary School,"Gonnigan, Jaydah",,sc151,st4650,st,st4650
3844,,Kindergarten,Woodson South Elementary School,"Hall, Taylor",,sc151,st4651,st,st4651
3848,,Kindergarten,Woodson South Elementary School,"Hilton, Kwane",,sc151,st4652,st,st4652
3852,,Kindergarten,Woodson South Elementary School,"Hudgins, Ja'Quan",,sc151,st4653,st,st4653
3856,,Kindergarten,Woodson South Elementary School,"Hunter, Ahziere Montreal",,sc151,st4654,st,st4654
3860,,Kindergarten,Woodson South Elementary School,"Jones, Victoria",,sc151,st4655,st,st4655
3864,,Kindergarten,Woodson South Elementary School,"Mayers, Reajon",,sc151,st4656,st,st4656
3868,,Kindergarten,Woodson South Elementary School,"Metcalf, Deangelo",,sc151,st4657,st,st4657
3872,,Kindergarten,Woodson South Elementary School,"Rocquemore, King",,sc151,st4658,st,st4658
3876,,Kindergarten,Woodson South Elementary School,"Ross, Jeremiah I",,sc151,st4659,st,st4659
3880,,Kindergarten,Woodson South Elementary School,"Wilson-Lumpkin, Megan K",,sc151,st4660,st,st4660

In [450]:
allfy1819.reindex(columns=['SchoolName','sch_id','Student','student_id','GradeLevel_FullName_18','GradeLevel_FullName_19']).to_csv('/Users/snigd/Desktop/Dropbox/UIC Data Project/Working/tables/student_table.csv', 
                                                                                index=False, header=True)