# Code for assigning student id based on foreign key 
### student foriengn key structure :
### school_id,teacher_id,coach_id, student first and last name==> student id

In [0]:
# import libraries 
import pandas as pd 
import numpy as np

In [0]:
# data loading 
nonstudent_table=pd.read_csv("/Users/fudanyi/Dropbox/UIC Data Project/Working/tables/coach_table.csv")
fy18_original=pd.read_csv("/Users/fudanyi/Documents/2019 Fall Term/560 Capston/data_processing_code/original_data/fy18.csv")

In [0]:
nonstudent_table.rename(columns = {'_merge':'merge','SchoolName':'School_FullName',"TeacherName":"Teacher","CoachName":"Coach"}, inplace = True)

In [0]:
nonstudent_table.head(5)

,School_FullName,sch_id,Teacher,tch_id,Coach,coach_id,merge
0,Shoesmith,sc141,"Hobson, Ashley",tc1074,"Randruut, Avo",c106,sy18
1,Cleveland,sc105,"Wren, Amanda",tc1208,"McManus, Lisa",c104,sy18
2,Rachel Carson Elementary,sc140,"Rodriguez, Maria",tc1157,"Menke, Becca",c105,both
3,Cleveland,sc105,"Rivera, Maricela",tc1151,"McManus, Lisa",c104,sy18
4,Rachel Carson Elementary,sc140,"Hurtado, Martha",tc1077,"Menke, Becca",c105,sy18

In [0]:
#df.loc[df['column_name'] == some_value]
nonstudent_table_for_18=nonstudent_table.loc[nonstudent_table["merge"]!="sy19"]
#nonstudent_table_2["merge"].value_counts()

In [0]:
fy18_original.head(5)
#fy18_original.columns

,idContact_teacher,Teacher,CoachAttachedFlag,idProgType,ProgramName,idSupportType,SupportName,DistrictID,idStaff_Coach,Coach,...,MAY_BNCH,EOY_BNCH,JUN_BNCH,JUL_BNCH,AUG_BNCH,idLanguage,TestFlag_Kin,TestFlag_First,sch_id,tch_id
0,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074
1,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074
2,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074
3,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074
4,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074

### Do the mapping for school and school_id

In [0]:
school_dic=dict(zip(nonstudent_table_for_18.School_FullName,nonstudent_table_for_18.sch_id))
#school_dic

In [0]:
#fy18_original["sch_id"]=""

In [0]:
#df['col1'].map(di) 
#replace(di, inplace=True)
#data['classes_wild'] = data['category_id'].apply(lambda cw: classes_wild[cw])

#fy18_original["sch_id"]=replace(school_dic, inplace=True)

In [0]:
fy18_original["sch_id"]=fy18_original["School_FullName"].apply(lambda sid: school_dic[sid])

### Do the mapping for teacher and teacher_id

In [0]:
teac_dic=dict(zip(nonstudent_table_for_18.TeacherName,nonstudent_table_for_18.tch_id))

In [0]:
fy18_original["tch_id"]=fy18_original["Teacher"].apply(lambda tid: teac_dic[tid])

### Do the mapping for coach and coach_id

In [0]:
coach_dic=dict(zip(nonstudent_table_for_18.Coach,nonstudent_table_for_18.coach_id))

In [0]:
fy18_original["coach_id"]=fy18_original["Coach"].apply(lambda cid: coach_dic[cid])

In [0]:
fy18_original

,idContact_teacher,Teacher,CoachAttachedFlag,idProgType,ProgramName,idSupportType,SupportName,DistrictID,idStaff_Coach,Coach,...,EOY_BNCH,JUN_BNCH,JUL_BNCH,AUG_BNCH,idLanguage,TestFlag_Kin,TestFlag_First,sch_id,tch_id,coach_id
0,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
1,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
2,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
3,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
4,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
5,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
6,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
7,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
8,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
9,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
10,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
11,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
12,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
13,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
14,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
15,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
16,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
17,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
18,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
19,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
20,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
21,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
22,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
23,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
24,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
25,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
26,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
27,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
28,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc141,tc1074,c106
29,7,"Hobson, Ashley",Yes,1,Standard,5,Standard,1.0,4,"Randruut, Avo",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc141,tc1074,c106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12398,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12399,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12400,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12401,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12402,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12403,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12404,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12405,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12406,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12407,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12408,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12409,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12410,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12411,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12412,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12413,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12414,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12415,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12416,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12417,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12418,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12419,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12420,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12421,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12422,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12423,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12424,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,28.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12425,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sc147,tc1154,c104
12426,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104
12427,925,"Robinson, Zulekha",Yes,1,Standard,5,Standard,1.0,17,"McManus, Lisa",...,40.0,NaN,NaN,NaN,1.0,Yes,Yes,sc147,tc1154,c104